/* Container Styles */
.event-form-container {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;}

.banner {
    background-color: #1e3a8a;
    color: #fff;
    padding: 50px 20px;
    text-align: left;
}
  
  /* Title Styles */
  .form-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #0014d3;
  }
  
  .section-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0014d3;
    text-align: center;
  }
  
  /* Form Group Styles */
  .form-group {
    flex: 1;
    min-width: 300px;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .form-group-inline {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .form-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1f4c97;
  }
  
  .frome-label1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #01040a;
  }
  
  .frome-label2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #01040a;
  }
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 75%;
    padding: 10px;
    border: 1px solid #4C5BB9;
    background-color: #E9F7FA;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form-textarea {
    resize: vertical;
  }
  
  /* Image Upload Section */
  .image-upload-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .image-upload-box {
    flex: 1;
    height: 150px;
    border: 2px dashed #c3e0ff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    text-align: center;
    color: #1f4c97;
    font-weight: bold;
  }
  
  /* Button Styles */
  .submit-button {
    background-color: #1827A4;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    width: 30%; 
    display: block; 
    margin: 20px auto; 
  }
  
  .submit-button:hover {
    background-color: #000ca8; /* Darker shade for hover effect */
  }
  
  
  
  
  